* {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
}

.bocx {
  display: flex;
  align-items: center; /* as opposed to justify-content: center;. I tried lol */
  flex-direction: column;
}

/* https://developer.mozilla.org/en-US/docs/Glossary/Scroll_container

*************************************

A scroll container is an element box in which content can be scrolled, whether or not scroll bars are present.

A user agent adds scroll bars to an element box to make it a scroll container when the CSS overflow property 
is set to scroll or when overflow is set to auto and the content overflows the container.

When the content of an element box overflows its bounding box, users can use scroll bars to scroll 
through the clipped content that is otherwise hidden from view. */

.scroll__container {
  margin: 15px;
  border: 7px solid rgb(32, 178, 170, .5);
  padding: 10px;
  max-width: calc(570px / 2);
  max-height: 150px;
  overflow-y: scroll;
}

.scroll__container__a {
  margin: 15px;
  border: 7px solid rgb(32, 178, 170, .5);
  padding: 10px;
  max-width: calc(570px / 2);
  max-height: 150px;
  overflow-y: scroll;
  /* scrollbar-color and scrollbar-width literally only work on Firefox */
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroller {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroll__container__b {
  margin: 15px;
  border: 7px solid rgb(32, 178, 170, .5);
  padding: 10px;
  /* max-width: calc(570px / 2); */
  max-height: 150px;
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroll__container__c::-webkit-scrollbar {
  margin: 15px;
  border: 7px solid rgb(32, 178, 170, .5);
  padding: 10px;
  max-width: calc(570px / 2);
  max-height: 150px;
  display: block;
  overflow: scroll;
}

/* Okay, now this below DOES work! And it is compatible both with WebKit browsers AND
Firefox! By "close enough" looks, at least... */
.whythefuckdoitnotwork {
  display: block;
  max-width: calc(570px / 2);
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-color: #000 #aaa;
  scrollbar-width: thin;
}

.whythefuckdoitnotwork::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; 
}

.whythefuckdoitnotwork::-webkit-scrollbar-thumb {
  background: #000;
}

.scroll__container__d {
  margin: 15px;
  border: 7px solid rgb(32, 178, 170, .5);
  padding: 10px;
  max-width: calc(570px / 2);
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-color: rgb(4, 68, 164) rgb(95, 130, 159);
  scrollbar-width: thin;
}

.scroll__container__d::-webkit-scrollbar {
  width: 8px; /* practically identical to firefox width. epic */
  background-color: rgb(95, 130, 159);
}

.scroll__container__d::-webkit-scrollbar-thumb {
  background: rgb(4, 68, 164);
}
